@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome irefox */
  url('iconfont.ttf') format('truetype'), /* chrome irefox afari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0;
  -moz-osx-font-smoothing: grayscale;
}
/* .icon-houtui:before { content: "\e600"; } */
.icon-shouye:before { content: "\e601"; }
.icon-wo:before { content: "\e602"; }
.icon-quanbudingdan:before { content: "\e603"; }

.icon-chaxun:before { content: "\e604"; }
.icon-wentizixun:before { content: "\e605"; }
.icon-fanwei:before { content: "\e606"; }
.icon-yijianfankui:before { content: "\e608"; }
.icon-lianxizixun:before { content: "\e609"; }
.icon-shouz:before { content: "\e60e"; }

.icon-yifu:before { content: "\e607"; }
.icon-shopping:before { content: "\e60a"; }
.icon-wuliuxingye:before { content: "\e60b"; }
.icon-dingdan:before { content: "\e60c"; }
.icon-sort:before { content: "\e60d"; }
.icon-baodijine:before { content: "\e60f"; }
.icon-shijian:before { content: "\e610"; }