//样式重置
@import "reset";
@import "mixin";
//@import "font";

$body_width:16rem;
$box-shadow:#bbb;
$input-shadow:#d5d5d5;
$nav_color:#2196f3;
$foot_height:2.5rem;
$color_yellow:#ffc107;

body{
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	background:#fff;
}
.wrap{
	width:$body_width;
	overflow:hidden;
	//padding-bottom:$foot_height;
}

//清除浮动代码
.clearfloat:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
}
.clearfloat{
	zoom:1
}

//头部
.header{
	$h:2.5rem;
	height:$h;
	color: #fff;
	line-height:$h;
	background:$nav_color;
	padding:0 .7rem;
	.logo{
		width:4.8rem;
		float: left;
		text-indent:-99rem;
		@include font_rem(30);
		background:url(../images/applogo.png) no-repeat left;
		background-size:100%;		
	}
	.details{
		@include font_rem(36);
		height:$h;
		background:url(../images/left.png) no-repeat left;
		background-size:.8rem;	
		.icon-houtui,.icon-houtui:before{
			@include font_rem(30);
			color:#fff; padding-left:1.6rem;
		}		
	}
	span{
		display:block;
		float:right;	
		@include font_rem(30);
		color:#fff;
	}
}

//洗衣单
.zangyi_info{
	width:$body_width;
	@include font_rem(28);
	ul{
		padding:.4rem .7rem;
	}
	h2{
		text-align:center;
		line-height:6rem;
		@include font_rem(40);
		color:#ccc;
	}
	li{	
		display:block;
		line-height:2rem;
		border-bottom:.05rem dashed $input-shadow;
		i{
			float:right;
			margin-right:.8rem;
			color:#f33;
		}
		span{
			width:.85rem;
			height:.85rem;
			line-height:.8rem;
			text-align:center;
			display:block;
			margin-top:.6rem;
			float:right;
			@include font_rem(24);
			background:#fa0;
			border-radius:100%;
			color:#fff;
		}
	}
	p{
		padding:.5rem .7rem;
		i{
			float:right;
		}
		b{
			margin:0 .3rem;
			color:#f33;
		}
	}
}
.submit{
	padding:1rem .7rem;
	margin-bottom:8.2rem;
	#submit{
		width:100%;
		height:1.8rem;
		display:inline-block;
		color:#fff;
		@include font_rem(28);
		text-align:center;
		line-height:1.8rem;
		border-radius:.2rem;
		background:#f80;	
	}
	#reset{
		@extend #submit;
		background:$nav_color;	
		margin-top:.8rem;
	}
}

//脏衣篮弹出框
.model{
	position:fixed;
	width:$body_width;
	height:100%;
	background:rgba(0,0,0,.3);
	top:0;
	z-index:999;
	display:none;
	overflow:hidden;
}
.zangyi_box{
	height:11.5rem;
	background:#fff;
	position:absolute;
	bottom:0;
	$w:$body_width;
	width:$w;
	z-index:1000;
}
.zangyi_tab{
	$h:2.2rem;
	height:$h;
	border-bottom:.05rem solid $input-shadow;
	background:$nav_color;
	li{
		$li_h:$h - .15rem;
		height:$li_h;
		line-height:$li_h;
		float:left;
		text-align:center;
		@include font_rem(28);
		border-bottom:.1rem solid $nav_color;	
		position:relative;
		color:#fff;
		i{
			$wh:.9rem;
			width:$wh;
			height:$wh;
			line-height:$wh + .05rem;
			background:rgba(255,51,0,.85);
			border-radius:100%;
			position:absolute;
			right:.3rem;
			top:.3rem;
			color:#fff;
			text-align:center;
			@include font_rem(24);
			display:none;
		}
	}
	.tab_on{
		border-bottom:.1rem solid #fff;
	}
}
.zangyi_body{
	height:9rem;
	overflow-y:auto;
	ul{
		display:none;
		padding:.7rem;
		li{
			overflow:hidden;
			float:left;
			padding:.4rem .4rem;
			text-align:center;
			@include font_rem(24);
			border:.05rem solid $input-shadow;
			margin:0 .5rem .5rem 0;
			border-radius:.25rem;
			&:hover{
				color:#fff;
				background:$nav_color;
				border:.05rem solid $nav_color;
			}
		}
	}
}

//物流信息
.paidan_tab{
	@extend .zangyi_tab;
	background:#fff;
	li{
		height:2.1rem;
		line-height:2.2rem;
		color:#333;
		width:$body_width / 2;
		border-bottom:.1rem solid #fff;	
	}
}
.active{
	border-bottom:.1rem solid $nav_color !important;	
}
.paidan_body{
	width:$body_width;
	background:#f1f1f1;
	overflow:hidden;
		li{
			background:#fff;
			line-height:1rem;
			@include font_rem(28);
			box-shadow:0 0 .1rem $input-shadow;
			margin:.5rem 0;
			padding:.7rem !important;
			i{ 
				float:right;
				margin-bottom:.5rem;
			}
			span{
				color:#757575;
			}
		}
		a{
			display:block;
			&:active,&:visited{
				color:#333;
			}
		}
}

//弹出框
.why{
	@include font_rem(28);
	border:none;
	height:3.5rem;
	line-height:1rem;
}
.add_daizi{
	@include font_rem(28);
	border:none;
	line-height:1rem;
}

//分拣衣物
.daizi_body{
	@extend .paidan_body;
	p{
		line-height:1rem;
		overflow:hidden;
	}
	i{
		color:#757575;
		position:absolute;
		right:.7rem;
	}
	span{
		margin-top:.25rem;
		width:33.33%;
		float:left;
		&:nth-last-child(1){
			color:#f33;
			margin-right:0;
			text-align:right;
		}
		&:nth-last-child(2){
			color:#f33;
			text-align:center;
		}
	}
}
.jiesuan{
	border-top:.05rem solid #e7e7e7;
	padding:.7rem;
	@include font_rem(28);
}
.zongjia{

	h1{
		@include font_rem(30);
		margin-bottom:.6rem;
		b{
			float:right;
			color:#757575;
		}
	}
	p{
		line-height:1rem;
		overflow:hidden;
	}
	span{
		margin-top:.25rem;
		width:33.33%;
		float:left;
		&:nth-last-child(1){
			color:#f33;
			margin-right:0;
			text-align:right;
		}
		&:nth-last-child(2){
			color:#f33;
			text-align:center;
		}
	}
}
.daizi_btn{
	margin:1rem 0;
	a{
		width:7rem;
		height:2rem;
		display:inline-block;
		color:#fff;
		@include font_rem(28);
		text-align:center;
		line-height:2rem;
		border-radius:.2rem;
	}
	#shouyin{
		background:$nav_color;
		float:right;
	}
	#fenjie{
		background:#f80;
	}
}

//收银
.pay{
	background:$nav_color;
	i{
		color:#FFFF80;
	}
	.pay_info{
		color:#fff;
		padding:.4rem .7rem .7rem;
		p{
			@include font_rem(28);
			line-height:1.4rem;
			b{
				float:right;
			}
		}	
	}
	.pay_state{
		color:#fff;
		margin:0 .7rem;
		border-top:.05rem dashed #fff;
		padding:.6rem 0;
		h3{
			@include font_rem(28);
			line-height:1.4rem;
		}
	}	
}
.pay_btn{
	margin:0 .7rem;
	h1{
		text-align:center;
		padding:1.3rem 0 0;
		@include font_rem(34);
		font-weight:bold;
		color:$nav_color;
		i{
			margin-right:.3rem;
			color:$nav_color;
		}
	}
	a{
		width:100%;
		height:2rem;
		margin-bottom:.9rem;
		display:inline-block;
		color:#fff;
		@include font_rem(28);
		text-align:center;
		line-height:2rem;
		border-radius:.2rem;
	}
	#cash{
		background:#f70;
		margin-top:1.5rem;
	}
	#card{
		background:$nav_color;
	}
	#pay{
		background:#FF5C57;
	}
}

//登录
.user{
	margin:1.5rem .7rem .8rem;
	$w:$body_width - 1.4rem;
	$h:2.1rem;
    width:$w;
    height:$h;
    margin:.7rem;
    background:#fff;
    border:.05rem solid #e3e3e3;
    border-radius:.15rem;
    overflow:hidden;
	input{
		border:none;
		@include font_rem(26);
		height:.7rem;
		line-height:.9rem;
		padding:.7rem;
		width:11.4rem;
		background:url(../images/login.png) no-repeat 6% center;
		background-size:.85rem;
		padding-left:2.5rem;
		color:#757575;
	}	
}
.password{
	@extend .user;
	margin:.8rem .7rem 1.4rem;
	input{
		background:url(../images/password.png)  no-repeat 6% center;
		background-size:.75rem;
		padding-left:2.5rem;
	}
}
.login{
	$w:$body_width - 1.4rem;
    width:$w;
    margin:.8rem .7rem;
    a{
    	@include font_rem(28);
    	text-align:center;
    	border-radius:.15rem;
    	line-height:2rem;
    	background:$nav_color;
    	display:block;
    	color:#fff;
    }
	input[type="submit"]{
		width:$body_width - 1.4rem;
		border:none;
		@include font_rem(24);
    	text-align:center;
    	border-radius:.15rem;
    	padding:.6rem 0;
    	background:$nav_color;
    	display:block;
    	color:#fff;
	}
	p{
		@include font_rem(24);
		color:#333;
		line-height:1rem;
		margin-bottom:.5rem;
	}
}

//底部
.foot_nav{
	width:$body_width;
	position:fixed;
	bottom:0rem;
	display:block;
	z-index:999;
	height:$foot_height - 0.2;
	padding-top:.2rem;
	border-top:.05rem solid #e7e7e7;
	background:#fff;
	li{
		width:$body_width / 3;
		float: left;
		text-align:center;
		position:relative;
		a{
			display:block;
			@include font_rem(24);
			color:#757575;
		}
		i{
			$wh:.9rem;
			width:$wh;
			height:$wh;
			line-height:$wh + .05rem;
			display:block;
			background:rgba(255,51,0,.85);
			border-radius:100%;
			position:absolute;
			right:1.7rem;
			top:0rem;
			display:none;
			color:#fff;
			text-align:center;
			@include font_rem(24);
		}
	}

	.icon-shouye:before,.icon-yifu:before,.icon-quanbudingdan:before{ @include font_rem(50);}
	.nav_on{ color:#2196f3;}
	.show{ display:block;}
}
