@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu { margin: 0; padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details { display: block; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th { text-align: left; font-weight: normal; }

html, body, fieldset, img, iframe, abbr { border: 0; }

i, cite, em, var, address, dfn { font-style: normal; }

[hidefocus], summary { outline: 0; }

li { list-style: none; }

h1, h2, h3, h4, h5, h6, small { font-size: 100%; }

sup, sub { font-size: 83%; }

pre, code, kbd, samp { font-family: inherit; }

q:before, q:after { content: none; }

textarea { overflow: auto; resize: none; }

label, summary { cursor: default; }

a, button { cursor: pointer; }

h1, h2, h3, h4, h5, h6, em, strong, b { font-weight: normal; }

del, ins, u, s, a, a:hover { text-decoration: none; }

address, caption, cite, code, dfn, em, th, var, i { font-style: normal; font-weight: normal; }

input, textarea, button, select { -webkit-appearance: none; -moz-appearance: none; }

body, textarea, input, button, select { font: 12px/1.14 arial,\5b8b\4f53; color: #333; outline: 0; }

body { background: #fff; }

a, a:hover { color: #333; }

a, img { -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */ }

html, body { -webkit-user-select: none; /* 禁止选中文本（如无文本选中需求，此为必选项） */ user-select: none; }

.clear { clear: both; width: 100%; }

html { font-size: 20px; }

@media only screen and (min-width: 360px) { html { font-size: 22.5px !important; } }
@media only screen and (min-width: 375px) { html { font-size: 23.4375px !important; } }
@media only screen and (min-width: 384px) { html { font-size: 24px !important; } }
@media only screen and (min-width: 401px) { html { font-size: 25px !important; } }
@media only screen and (min-width: 414px) { html { font-size: 25.875px !important; } }
@media only screen and (min-width: 428px) { html { font-size: 26.75px !important; } }
@media only screen and (min-width: 481px) { html { font-size: 30px !important; } }
@media only screen and (min-width: 569px) { html { font-size: 35px !important; } }
@media only screen and (min-width: 641px) { html { font-size: 40px !important; } }
/*表单控件美化*/
@media screen and (-webkit-min-device-pixel-ratio: 0) { input[type="checkbox"], select, input[type="radio"] { position: relative; -webkit-appearance: none; -webkit-user-select: none; border: 1px solid rgba(0, 0, 0, 0.25); border-radius: 2px; /*box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);margin: 0 1px 0 0;*/ }
  input[type='checkbox'] { bottom: 2px; height: 15px; vertical-align: middle; width: 15px; }
  input[type='checkbox']:checked::before { position: absolute; left: 3px; top: 6px; content: ''; height: 2px; background-color: #f44623; width: 72%; -webkit-transform: rotate(120deg); }
  input[type='checkbox']:checked::after { position: absolute; left: 2px; top: 8px; content: ''; height: 2px; width: 4px; background-color: #f44623; -webkit-transform: rotate(-150deg); }
  input[type="radio"] { border-radius: 100%; height: 20px; vertical-align: middle; width: 20px; bottom: 1px; margin-right: 3px; }
  input[type='radio']:checked::before { background-color: #f44623; border-radius: 100%; bottom: 3px; content: ''; display: block; left: 3px; position: absolute; right: 3px; top: 3px; }
  input[type='checkbox']:active, select:active, input[type='radio']:active { background-image: -webkit-linear-gradient(#fcfcfc, #f8f8f8 38%, #e7e7e7); box-shadow: none; text-shadow: none; }
  select { -webkit-appearance: none; height: 28px; -webkit-padding-end: 18px; -webkit-padding-start: 6px; background-position: right center; background-repeat: no-repeat; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC"), -webkit-linear-gradient(#fcfcfc, #fcfcfc 38%, #fcfcfc); }
  select:hover { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC"); }
  select:active { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC"); }
  select:disabled { color: #999; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC"), -webkit-linear-gradient(#f8f8f8, #f8f8f8 38%, #f8f8f8); } }
@font-face { font-family: "iconfont"; src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont { font-family: "iconfont" !important; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0; -moz-osx-font-smoothing: grayscale; }

/* .icon-houtui:before { content: "\e600"; } */
.icon-shouye:before { content: "\e601"; }

.icon-wo:before { content: "\e602"; }

.icon-quanbudingdan:before { content: "\e603"; }

.icon-chaxun:before { content: "\e604"; }

.icon-wentizixun:before { content: "\e605"; }

.icon-fanwei:before { content: "\e606"; }

.icon-yijianfankui:before { content: "\e608"; }

.icon-lianxizixun:before { content: "\e609"; }

.icon-shouz:before { content: "\e60e"; }

.icon-yifu:before { content: "\e607"; }

.icon-shopping:before { content: "\e60a"; }

.icon-wuliuxingye:before { content: "\e60b"; }

.icon-dingdan:before { content: "\e60c"; }

.icon-sort:before { content: "\e60d"; }

.icon-baodijine:before { content: "\e60f"; }

.icon-shijian:before { content: "\e610"; }

body { font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; background: #fff; }

.warp { width: 16rem; overflow: hidden; }

.header { height: 2.5rem; color: #fff; line-height: 2.5rem; background: #2196f3; padding: 0 .7rem; }
.header .logo { width: 4.8rem; float: left; text-indent: -99rem; font-size: 0.75rem; background: url(../images/applogo.png) no-repeat left; background-size: 100%; }
.header .details { font-size: 0.9rem; height: 2.5rem; background: url(../images/left.png) no-repeat left; background-size: .8rem; }
.header .details .icon-houtui, .header .details .icon-houtui:before { font-size: 0.75rem; color: #fff; padding-left: 1.6rem; }
.header span { display: block; float: right; font-size: 0.75rem; color: #fff; }

.zangyi_info { width: 16rem; font-size: 0.7rem; }
.zangyi_info ul { padding: .4rem .7rem; }
.zangyi_info h2 { text-align: center; line-height: 6rem; font-size: 1rem; color: #ccc; }
.zangyi_info li { display: block; line-height: 2rem; border-bottom: 0.05rem dashed #d5d5d5; }
.zangyi_info li i { float: right; margin-right: .8rem; color: #f33; }
.zangyi_info li span { width: .85rem; height: .85rem; line-height: .8rem; text-align: center; display: block; margin-top: .6rem; float: right; font-size: 0.6rem; background: #fa0; border-radius: 100%; color: #fff; }
.zangyi_info p { padding: .5rem .7rem; }
.zangyi_info p i { float: right; }
.zangyi_info p b { margin: 0 .3rem; color: #f33; }

.submit { padding: 1rem .7rem; margin-bottom: 8.2rem; }
.submit #submit, .submit #reset { width: 100%; height: 1.8rem; display: inline-block; color: #fff; font-size: 0.7rem; text-align: center; line-height: 1.8rem; border-radius: .2rem; background: #f80; }
.submit #reset { background: #2196f3; margin-top: .8rem; }

.model { position: fixed; width: 16rem; height: 100%; background: rgba(0, 0, 0, 0.3); top: 0; z-index: 999; display: none; overflow: hidden; }

.zangyi_box { height: 11.5rem; background: #fff; position: absolute; bottom: 0; width: 16rem; z-index: 1000; }

.zangyi_tab, .paidan_tab { height: 2.2rem; border-bottom: 0.05rem solid #d5d5d5; background: #2196f3; }
.zangyi_tab li, .paidan_tab li { height: 2.05rem; line-height: 2.05rem; float: left; text-align: center; font-size: 0.7rem; border-bottom: 0.1rem solid #2196f3; position: relative; color: #fff; }
.zangyi_tab li i, .paidan_tab li i { width: 0.9rem; height: 0.9rem; line-height: 0.95rem; background: rgba(255, 51, 0, 0.85); border-radius: 100%; position: absolute; right: .3rem; top: .3rem; color: #fff; text-align: center; font-size: 0.6rem; display: none; }
.zangyi_tab .tab_on, .paidan_tab .tab_on { border-bottom: .1rem solid #fff; }

.zangyi_body { height: 9rem; overflow-y: auto; }
.zangyi_body ul { display: none; padding: .7rem; }
.zangyi_body ul li { overflow: hidden; float: left; padding: .4rem .4rem; text-align: center; font-size: 0.6rem; border: 0.05rem solid #d5d5d5; margin: 0 .5rem .5rem 0; border-radius: .25rem; }
.zangyi_body ul li:hover { color: #fff; background: #2196f3; border: 0.05rem solid #2196f3; }

.paidan_tab { background: #fff; }
.paidan_tab li { height: 2.1rem; line-height: 2.2rem; color: #333; width: 8rem; border-bottom: .1rem solid #fff; }

.active { border-bottom: 0.1rem solid #2196f3 !important; }

.paidan_body, .daizi_body { background: #f1f1f1; overflow: hidden; }
.paidan_body li, .daizi_body li { background: #fff; line-height: 1rem; font-size: 0.7rem; box-shadow: 0 0 0.1rem #d5d5d5; margin: .5rem 0; padding: .7rem !important; }
.paidan_body li i, .daizi_body li i { float: right; margin-bottom: .5rem; }
.paidan_body li span, .daizi_body li span { color: #757575; }
.paidan_body a, .daizi_body a { display: block; }
.paidan_body a:active, .daizi_body a:active, .paidan_body a:visited, .daizi_body a:visited { color: #333; }

.why { font-size: 0.7rem; border: none; height: 3.5rem; line-height: 1rem; }

.add_daizi { font-size: 0.7rem; border: none; line-height: 1rem; }

.daizi_body p { line-height: 1rem; overflow: hidden; }
.daizi_body i { color: #757575; position: absolute; right: .7rem; }
.daizi_body span { margin-top: .25rem; width: 33.33%; float: left; }
.daizi_body span:nth-last-child(1) { color: #f33; margin-right: 0; text-align: right; }
.daizi_body span:nth-last-child(2) { color: #f33; text-align: center; }

.jiesuan { border-top: .05rem solid #e7e7e7; padding: .7rem; font-size: 0.7rem; }

.zongjia h1 { font-size: 0.75rem; margin-bottom: .6rem; }
.zongjia p { line-height: 1rem; overflow: hidden; }
.zongjia span { margin-top: .25rem; width: 33.33%; float: left; }
.zongjia span:nth-last-child(1) { color: #f33; margin-right: 0; text-align: right; }
.zongjia span:nth-last-child(2) { color: #f33; text-align: center; }

.daizi_btn { margin: 1rem 0; }
.daizi_btn a { width: 7rem; height: 2rem; display: inline-block; color: #fff; font-size: 0.7rem; text-align: center; line-height: 2rem; border-radius: .2rem; }
.daizi_btn #shouyin { background: #2196f3; float: right; }
.daizi_btn #tuidan { background: #f80; }

.user, .password { margin: 1.5rem .7rem .8rem; width: 14.6rem; height: 2.1rem; margin: .7rem; background: #fff; border: .05rem solid #e3e3e3; border-radius: .15rem; overflow: hidden; }
.user input, .password input { border: none; font-size: 0.65rem; height: .7rem; line-height: .9rem; padding: .7rem; width: 11.4rem; background: url(../images/login.png) no-repeat 6% center; background-size: .85rem; padding-left: 2.5rem; color: #757575; }

.password { margin: .8rem .7rem 1.4rem; }
.password input { background: url(../images/password.png) no-repeat 6% center; background-size: .75rem; padding-left: 2.5rem; }

.login { width: 14.6rem; margin: .8rem .7rem; }
.login a { font-size: 0.7rem; text-align: center; border-radius: .15rem; padding: .5rem 0; background: #2196f3; display: block; color: #fff; }
.login input[type="submit"] { width: 14.6rem; border: none; font-size: 0.6rem; text-align: center; border-radius: .15rem; padding: .6rem 0; background: #2196f3; display: block; color: #fff; }
.login p { font-size: 0.6rem; color: #333; line-height: 1rem; margin-bottom: .5rem; }

.foot_nav { width: 16rem; position: fixed; bottom: 0rem; display: block; z-index: 999; height: 2.3rem; padding-top: .2rem; border-top: .05rem solid #e7e7e7; background: #fff; }
.foot_nav li { width: 5.33333rem; float: left; text-align: center; position: relative; }
.foot_nav li a { display: block; font-size: 0.6rem; color: #757575; }
.foot_nav li i { width: 0.9rem; height: 0.9rem; line-height: 0.95rem; display: block; background: rgba(255, 51, 0, 0.85); border-radius: 100%; position: absolute; right: 1.7rem; top: 0rem; display: none; color: #fff; text-align: center; font-size: 0.6rem; }
.foot_nav .icon-shouye:before, .foot_nav .icon-yifu:before, .foot_nav .icon-quanbudingdan:before { font-size: 1.25rem; }
.foot_nav .nav_on { color: #2196f3; }
.foot_nav .show { display: block; }
